body{
	background-color:rgba(150,150,250,0.8);
	color:#333;
	font-family:"verdana";
	margin:0;
	overflow-x:hidden;
	overflow-y:scroll;
	font-size:30px;
}

#loadingArea{
	
	background:url(assets/Textures/Promo2.png);
	background-size:100%;
	background-repeat:no-repeat;
	font-size:20px;
}

#gameArea {
	display:none;
	overflow:hidden;
	cursor:pointer;
}

#menuArea {
	display:none;
	position:absolute;
}

#statsPanel {
  width: 100%;
  height: 6%;
  opacity: 0.8;
}

#progressPanel{
  width: 100%;
  height: 6%;
  opacity: 0.8;
  background:red;
  text-align:left;
  color:#eee;
  font-family:verdana;
  font-weight:bold;
  line-height:100%;
  vertical-align:middle;
}

#infoArea{
	width:100%;
	margin: 5px auto;
	position:absolute;
}

.square_area{
	width:960px;
	height:640px;
	margin: 25px auto;

	-moz-box-shadow: 0 0 30px 8px #888;
	-webkit-box-shadow: 0 0 30px 8px #888;
	box-shadow: 0 0 30px 8px #888;
}

#infoText{
	margin:10px;
	padding:5px;
	border:1px solid #888;
	background:#ddd;
	border-radius:3px;
	font-size:10px;

	-moz-box-shadow: 0 0 30px 8px #888;
	-webkit-box-shadow: 0 0 30px 8px #888;
	box-shadow: 0 0 30px 8px #888;
}

#mainMenu{
	width:100%;
	height:100%;
	background:url(assets/Textures/menu2.png);
	background-size:100%;
}

#gameMenu{
	display:none;
	width:100%;
	height:100%;
	background:url(assets/Textures/menu.png);
	background-size:100%;
}

#aboutMenu{
	display:none;
	width:100%;
	height:100%;
	background:url(assets/Textures/menu.png);
	background-size:100%;
}

.llosa{
	width:640px;
	height:362px;
	background:url(assets/Textures/llosa.png);
	background-size:100%;
	margin:auto;
	position:relative;
	top:65px;

}

.llosa_text{
	width:400px;
	margin:auto;
	font-weight:bold;
	color:#eee;
	font-size:15px;
	height:50px;
	line-height:50px;
	text-align:center;
}

.boto_start{
	background:url(assets/Textures/start_normal.png);
	background-size:100%;
	width:260px;
	height:54px;
	margin:auto;
	position:relative;
	top:380px;
	cursor:pointer;
}
.boto_start:hover{ background:url(assets/Textures/start_focused.png); background-size:100%;}
.boto_start:active{ background:url(assets/Textures/start_pressed.png); background-size:100%;}

.boto_about{
	background:url(assets/Textures/about_normal.png);
	background-size:100%;
	width:100px;
	height:44px;
	margin:auto;
	position:relative;
	top:440px;
	cursor:pointer;
}
.boto_about:hover{ background:url(assets/Textures/about_focused.png);background-size:100%; }
.boto_about:active{ background:url(assets/Textures/about_pressed.png); background-size:100%;}

.boto{
	background:url(assets/Textures/boto_normal.png);
	background-size:100%;
	width:220px;
	height:94px;
	margin:auto;
	position:relative;
	text-align:center;
	font-weight:bold;
	color:#eee;
	vertical-align:middle;
	line-height:94px;
	cursor:pointer;
}
.boto:hover{ background:url(assets/Textures/boto_focused.png);background-size:100%; }
.boto:active{ background:url(assets/Textures/boto_pressed.png);background-size:100%; }


.boto_mini{
	background:url(assets/Textures/boto_normal.png);
	background-size:110px 48px;
	width:110px;
	height:48px;
	margin:auto 424px;
	position:absolute;
	text-align:center;
	font-weight:bold;
	color:#eee;
	vertical-align:middle;
	line-height:48px;
	font-size:14px;
	cursor:pointer;
}
.boto_mini:hover{ background:url(assets/Textures/boto_focused.png); background-size:110px 48px; }
.boto_mini:active{ background:url(assets/Textures/boto_pressed.png); background-size:110px 48px; }


.gradient{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	float:left;
}



.gradient1{
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,0,132,0.3) 17%, rgba(255,0,132,0.12) 43%, rgba(255,0,132,0) 61%, rgba(255,0,132,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(17%,rgba(255,0,132,0.3)), color-stop(43%,rgba(255,0,132,0.12)), color-stop(61%,rgba(255,0,132,0)), color-stop(100%,rgba(255,0,132,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,0,132,0.3) 17%,rgba(255,0,132,0.12) 43%,rgba(255,0,132,0) 61%,rgba(255,0,132,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,0,132,0.3) 17%,rgba(255,0,132,0.12) 43%,rgba(255,0,132,0) 61%,rgba(255,0,132,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,0,132,0.3) 17%,rgba(255,0,132,0.12) 43%,rgba(255,0,132,0) 61%,rgba(255,0,132,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,0,132,0.3) 17%,rgba(255,0,132,0.12) 43%,rgba(255,0,132,0) 61%,rgba(255,0,132,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dff0084', endColorstr='#00ff0084',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient2{
top:40%;
left:-25%;
background: -moz-radial-gradient(center, ellipse cover,  rgba(97,196,25,0.65) 0%, rgba(103,198,33,0.65) 7%, rgba(137,211,82,0.34) 48%, rgba(155,218,109,0) 70%, rgba(180,227,145,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(97,196,25,0.65)), color-stop(7%,rgba(103,198,33,0.65)), color-stop(48%,rgba(137,211,82,0.34)), color-stop(70%,rgba(155,218,109,0)), color-stop(100%,rgba(180,227,145,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(97,196,25,0.65) 0%,rgba(103,198,33,0.65) 7%,rgba(137,211,82,0.34) 48%,rgba(155,218,109,0) 70%,rgba(180,227,145,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(97,196,25,0.65) 0%,rgba(103,198,33,0.65) 7%,rgba(137,211,82,0.34) 48%,rgba(155,218,109,0) 70%,rgba(180,227,145,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(97,196,25,0.65) 0%,rgba(103,198,33,0.65) 7%,rgba(137,211,82,0.34) 48%,rgba(155,218,109,0) 70%,rgba(180,227,145,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(97,196,25,0.65) 0%,rgba(103,198,33,0.65) 7%,rgba(137,211,82,0.34) 48%,rgba(155,218,109,0) 70%,rgba(180,227,145,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a661c419', endColorstr='#00b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient3{
top:40%;
left:40%;
background: -moz-radial-gradient(center, ellipse cover,  rgba(241,218,54,0.5) 0%, rgba(243,223,76,0.5) 21%, rgba(246,230,106,0.34) 50%, rgba(248,235,126,0) 69%, rgba(251,241,152,0) 93%, rgba(252,243,159,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(241,218,54,0.5)), color-stop(21%,rgba(243,223,76,0.5)), color-stop(50%,rgba(246,230,106,0.34)), color-stop(69%,rgba(248,235,126,0)), color-stop(93%,rgba(251,241,152,0)), color-stop(100%,rgba(252,243,159,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(241,218,54,0.5) 0%,rgba(243,223,76,0.5) 21%,rgba(246,230,106,0.34) 50%,rgba(248,235,126,0) 69%,rgba(251,241,152,0) 93%,rgba(252,243,159,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(241,218,54,0.5) 0%,rgba(243,223,76,0.5) 21%,rgba(246,230,106,0.34) 50%,rgba(248,235,126,0) 69%,rgba(251,241,152,0) 93%,rgba(252,243,159,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(241,218,54,0.5) 0%,rgba(243,223,76,0.5) 21%,rgba(246,230,106,0.34) 50%,rgba(248,235,126,0) 69%,rgba(251,241,152,0) 93%,rgba(252,243,159,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(241,218,54,0.5) 0%,rgba(243,223,76,0.5) 21%,rgba(246,230,106,0.34) 50%,rgba(248,235,126,0) 69%,rgba(251,241,152,0) 93%,rgba(252,243,159,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f1da36', endColorstr='#00fcf39f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient4{
background: -moz-linear-gradient(top,  rgba(255,133,40,0.6) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,133,40,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,133,40,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,133,40,0.6) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,133,40,0.6) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,133,40,0.6) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff8528', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.gradient5{
top:75%;
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,197,120,0.4) 0%, rgba(254,187,99,0.4) 25%, rgba(253,179,83,0.2) 44%, rgba(252,170,64,0) 66%, rgba(251,157,35,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,197,120,0.4)), color-stop(25%,rgba(254,187,99,0.4)), color-stop(44%,rgba(253,179,83,0.2)), color-stop(66%,rgba(252,170,64,0)), color-stop(100%,rgba(251,157,35,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,197,120,0.4) 0%,rgba(254,187,99,0.4) 25%,rgba(253,179,83,0.2) 44%,rgba(252,170,64,0) 66%,rgba(251,157,35,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,197,120,0.4) 0%,rgba(254,187,99,0.4) 25%,rgba(253,179,83,0.2) 44%,rgba(252,170,64,0) 66%,rgba(251,157,35,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,197,120,0.4) 0%,rgba(254,187,99,0.4) 25%,rgba(253,179,83,0.2) 44%,rgba(252,170,64,0) 66%,rgba(251,157,35,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,197,120,0.4) 0%,rgba(254,187,99,0.4) 25%,rgba(253,179,83,0.2) 44%,rgba(252,170,64,0) 66%,rgba(251,157,35,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffc578', endColorstr='#00fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}